.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card_image {
  height: 12rem;
  width:100%;
  object-fit: cover;
  
}

.card_title {
  padding: 1rem;
}

.card_description {
  padding: 0 1rem;
}

.card_btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid;
  background: transparent;
  color: blue;
  transition: background 200ms ease-in, color 200ms ease-in;
}


  

  